<h1>Welcome, <%= @user.name%></h1>



<% @senders.each do |sender|
  %>
    <h1> <%= sender.sender %> </h1>
      <% @letters.each do |letter|

        if letter.sender == sender %>
          <%= letter.content.html_safe %>
        <%end%>
      <%end%>


    <br>
<%end%>





<br>
<% @letters.each do |letter|
  %>

  <div class="">


    <%= letter.content.html_safe %>

  </div>
    <br>
    <hr>

    <% @senders.each do |sender| %>

      var <%= 'get' + sender.sender.gsub(" " , "").gsub("." , "") %> = document.getElementById("<%= sender.sender.gsub(" " , "").gsub('.' , "") %>");

        <%= 'get' + sender.sender.gsub(" " , "").gsub("." , "") %>.addEventListener("click" , function(){
          var <%= 'class' + sender.sender.gsub(" " , "").gsub("." , "") %> = document.getElementsByClassName("class<%= sender.sender.gsub(" " , "").gsub('.' , "") %>");
      <%= 'class' + sender.sender.gsub(" " , "").gsub("." , "") %>.forEach(
        function(elem){elem.innerHTML = "<h1>TEST</h1>"});
      });

    <% end %>
<%end%>



<!--  -->
<script charset="utf-8">


test

$("#arcticoutpost31").click(function(){

            $("#arcticoutpost31").toggle(

              function(){
                      $("#arcticoutpost31").css('background-color', 'blue');
                  },
              function(){
                      $("#arcticoutpost31").css('background-color', 'red');
                  });

              $(".classarcticoutpost31").toggle();

        });



        var getBuzzFeed = document.getElementById("BuzzFeed");


   $("#BuzzFeed").click(function(){
            $(".classBuzzFeed").toggle();

           $("#BuzzFeed").toggle(

             function(){
                     $("#BuzzFeed").css('background-color', 'blue');
                 },
             function(){
                     $("#BuzzFeed").css('background-color', 'red');
                 });



       }
       );


       $("#BuzzFeed").click(function(){
                $(".classBuzzFeed").toggle();

               $("#BuzzFeed").toggle(

                 function(){
                         $("#BuzzFeed").css('background-color', 'blue');
                     },
                 function(){
                         $("#BuzzFeed").css('background-color', 'red');
                     });



           }
           );
        </script>
